*~
ht.test
*.exe
tmp/*
*.R
*.png
_Result_.html
showcase/showcase
cmd/ht/ht
cmd/ht/ht_linux
cmd/ht/ht_darwin
cmd/ht/ht_windows.exe
cmd/ht/Documentation.*
*.bined.jpg
2017_*
ht/testdata/logfile
cmd/ht/testdata/*.ht
cmd/ht/testdata/*.suite
_Report_.html
suite/testdata/out/*
cmd/ht/example-tests/*
